<body>
    <nav class="navbar">
        <div class="container">
            <a  class="logo">Codigo Azul</a>
            <ul class="nav-links">
                
                <li><a routerLink="pacientes">pacienes</a></li>
                <li><a routerLink="dashboard">dashboard</a></li>
                <li><a routerLink="usuarios">Usarios</a></li>
                <li><a routerLink="llamados">llamados</a></li>
                <li><a routerLink="alarmas">Alarmas</a></li>
                <li><a routerLink="configuracion">configuracion</a></li>
                
            </ul>
        </div>
    </nav>

