<div class="modal-content">
    <form name="frm_carrera" id="frm_carrera">
        <div class="modal-header">
            <h4 name="titulo" id="titulo" class="title">Nuevo registro</h4>

        </div>
        <div class="modal-body">
            <div class="form-group ">
                <label>Nombre</label>
                <input type="hidden" name="id" id="id">
                <input type="text" name="name" id="name" class="form-control p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 " maxlength="45"
                    placeholder="Ingrese aquí los nombres del paciente" required>
            </div>

            <div class="form-group ">
                <label>Apellido</label>
                <input type="hidden" name="id" id="id">
                <input type="text" name="name" id="name" class="form-control p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 " maxlength="45"
                    placeholder="Ingrese aquí los apellidos" required>
            </div>
            <div class="form-group ">
                <label>Dni</label>
                <input type="hidden" name="id" id="id">
                <input type="text" name="name" id="name" class="form-control p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 " maxlength="45"
                    placeholder="Ingrese aquí el Dni" required>
            </div>
            <div class="form-group ">
                <label>Domicilio</label>
                <input type="hidden" name="id" id="id">
                <input type="text" name="name" id="name" class="form-control p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 " maxlength="45"
                    placeholder="Ingrese aquí el domicilio" required>
            </div>
            <div class="form-group ">
                <label>N° Registro</label>
                <input type="hidden" name="id" id="id">
                <input type="text" name="name" id="name" class="form-control p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 " maxlength="45"
                    placeholder="Ingrese aquí el numero de registro" required>
            </div>
            <div class="form-group ">
                <label>N° Cama</label>
                <input type="hidden" name="id" id="id">
                <input type="text" name="name" id="name" class="form-control p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 " maxlength="45"
                    placeholder="Ingrese aquí el numero de cama" required>
            </div>

        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" value="Guardar datos">
            <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
        </div>
    </form>
</div>
