/* Estilo general del formulario */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del encabezado */
.login-container h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo de las etiquetas de los campos */
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

/* Estilo de los campos de entrada */
.form-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo del botón de envío */
.form-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Estilo del botón de envío al pasar el mouse */
.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilo para el campo de correo electrónico válido */
form-group input[type="email"].ng-invalid {
  border-left: 5px#4CAF50; /* Borde verde */
}

/* Estilo para el campo de correo electrónico inválido */
.ng-invalid:not(form).ng-touched {
  border-color: #FF5722; /* Borde rojo */
}


/* Estilo para el campo de contraseña válido */
.form-group input[type="password"].ng-valid {
  border-color: #4CAF50; /* Borde verde */
}

/* Estilo para el campo de contraseña inválido */
form-group input[type="email"].ng-invalid {
  border-color: #FF5722; /* Borde rojo */
}
