header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Estilos para el botón */
.btn {
    background-color: #171a1d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

/* Estilos para el botón de cierre */
.btn-close {
    background-color: #eca0a0;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    float: right;
}

/* Estilos para el encabezado de formulario */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el botón de guardar */
button[type="submit"] {
    background-color: #28a745;
    color: #fff;
}