
    <h1>Tabla de Historias Clínicas</h1>
    <table>
        <thead>
            <tr>
                <th>IdHistoria</th>
                <th>cant_camas</th>
                <th>tipo_servicio</th>
                <th>fecha_diagnostico</th>
                <th>fecha_atencion</th>
                <th>numero_registro</th>
                <th>numero_cama</th>
                <th>enfermero_idenfermeros</th>
                <th>enfermero_hospital_idhospital</th>
                <th>paciente_idpacientes</th>
                <th>sala_idsala</th>
                <th>sala_hospital_idhospital</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>3</td>
                <td>Consulta</td>
                <td>2023-09-15</td>
                <td>2023-09-16</td>
                <td>12345</td>
                <td>101</td>
                <td>789</td>
                <td>456</td>
                <td>7890</td>
                <td>25</td>
                <td>789</td>
                <td>
                    <button class="btn edit">Editar</button>
                    <button class="btn delete">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>4</td>
                <td>Hospitalización</td>
                <td>2023-09-10</td>
                <td>2023-09-20</td>
                <td>54321</td>
                <td>202</td>
                <td>456</td>
                <td>123</td>
                <td>4567</td>
                <td>12</td>
                <td>123</td>
                <td>
                    <button class="btn edit">Editar</button>
                    <button class="btn delete">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn" id="btnAgregar">Agregar Fila</button>


